@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #4D4D4D;
}

main{
    padding: 50px;
}

header {
    background-color: #2E2E2E;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.navButton {
    padding: 20px 50px;
    /* color: black ; */
    font-size: 30px;
    text-decoration: none;
    background-color:#8DB596;
    border: black;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.navButton:hover {
    background-color: #4CAF50; /* Green */
    /* color: white; */
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

footer {
    background-color: #2E2E2E ;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
}

.contact-img {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    margin: 2px;
}

.grid-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 25px;
    margin: 15px;
    /* align-items:flex-start; */
    justify-content: space-between;
    text-align: center;
    /* flex-wrap: wrap; */
}

.clearclass{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 15px;
    justify-content: space-between;
    text-align: center;
}

.personImg {
    /* /* max-width: 100%; */
    object-fit: scale-down; 
    width: 390px;
    /* height: 390px; */
    padding: 25px;
}

.card {
    background-color:#8DB596;
    border-radius: 30px;
}


.h {
    font-size: 30px;
    stroke-width: 2px;
}

.theForm {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 50px 50px 50px 50px;
    padding: 50px;
}

.departmentList, .levelList {
    color: black;
}

.submitB {
    padding: 10px 10px;
    font-size: 30px;
    text-decoration: none;
    background-color:#8DB596;
    border: black;
    border-radius: 20px;
}


.acc-flex-container {
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

main .table {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:max-content;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

  table, td {
    border: 1px solid #2E2E2E;
    height: 70px;
    text-align: center;
    background-color: #8DB596;
    /* padding: 15px; */
  }

.THead {
    background-color: #2E2E2E;
    font-size: 30px;
    padding: 15px;
}

