@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    font-family: 'EB Garamond', serif;
    font-size: 2vw;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #4D4D4D;
}

main{
    padding: 1vw;
}

header {
    background-color: #2E2E2E;
    height: 13vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5vw;
}

.navButton {
    padding: 1.5vw 3vw;
    stroke-width: 0.25vw;
    /* color: black ; */
    font-size: 3vw;
    text-decoration: none;
    background-color:#8DB596;
    border: black;
    border-radius: 2vw;
    transition-duration: 0.4s;
    box-shadow: 0 0.8vw 1.6vw 0 rgba(0,0,0,0.2), 0 0.6vw 2vw 0 rgba(0,0,0,0.19);
}
.navButton:hover {
    background-color: #4CAF50; /* Green */
    /* color: white; */
    box-shadow: 0 1.2vw 1.6vw 0 rgba(0,0,0,0.24), 0 1.7vw 5vw 0 rgba(0,0,0,0.19);
  }

footer {
    background-color: #2E2E2E ;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 5vw;
}

.contact-img {
    width: 3.5vw;
    height: 3.5vw;
    object-fit: scale-down;
    margin: 0.3vw;
}

.grid-container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 1vw;
    margin: 1.5vw;
    /* align-items:flex-start; */
    justify-content: space-between;
    text-align: center;
    /* flex-wrap: wrap; */
}

.clearclass{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin: 1.5vw;
    justify-content: space-between;
    text-align: center;
}

.personImg {
    max-width: 100%;
    object-fit: scale-down; 
    /* width: 390px; */
    width: 47vw;
    padding: 2.5vw;
}

.card {
    background-color:#8DB596;
    border-radius: 3vw;
}

.card-name-ID , .card-salary {
    font-size: 1.5vw;
}

.card-dep-level {
    font-size: 1.2vw;
}


.h {
    font-size: 3vw;
    stroke-width: 0.25vw;
}

.theForm {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 5vw 5vw 5vw 5vw;
    padding: 5vw;
}

.departmentList, .levelList {
    color: black;
}

.submitB {
    padding: 1vw 3vw;
    font-size: 3.5vw;
    text-decoration: none;
    background-color:#8DB596;
    border: black;
    border-radius: 2vw;
}


.acc-flex-container {
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

main .table {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:max-content;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

  table, td {
    border: 1px solid #2E2E2E;
    height: 70px;
    text-align: center;
    background-color: #8DB596;
    /* padding: 15px; */
  }

.THead {
    background-color: #2E2E2E;
    font-size: 30px;
    padding: 15px;
}

